* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(19, 68, 128);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.correct {
    background-color: green;
}

.btn-grid {
    display: grid;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

.btn {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid black;
}

.start-button {
    background-color: rgb(178, 181, 178);
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 20px;
    margin-left: 25%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%
}
.start-button:hover {
    border: 2px solid black;
    background-color: rgb(6, 171, 6);
    
}

.btn:hover {
    border: 2px solid black;
}

.btn.correct {
    background-color: rgb(6, 171, 6);
}

.btn.wrong {
    background-color: rgb(250, 6, 6);
}

#countdownTimer {
    position: absolute;
    top: 5px;
    right: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

#displayScore {
    font-size: 25px;
}

#finishedMessage {
    font-size: 50px;
    color: green; 
}

#inputBox {
    padding: 50px 50px 15px 0;
    font-size: 15px;
}

.initials {
    margin-top: 25px;
}
.hide {
    display: none;
}

.wrong {
    background-color: red;
}